## Topics

- Dropping columns
- Droping rows
- Parameters in Droping functionalities
- Treating with missing values

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('drop').getOrCreate()

In [32]:
spark_data=spark.read.csv('test_payspark.csv',header=True,inferSchema=True)

In [33]:
spark_data.show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
|syam|    2| null|
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
| pam| null|  545|
|null|    6| null|
|null|    7|    4|
+----+-----+-----+

In [11]:
# deleting rows which contains nan
spark_data.na.drop().show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
+----+-----+-----+

In [14]:
#how argument,how== any orhow== all
# fir how== all ,if all the rows are null then only it will delete
spark_data.na.drop(how='all').show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
|syam|    2| null|
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
| pam| null|  545|
|null|    6| null|
|null|    7|    4|
+----+-----+-----+

In [23]:
#threshold-alteast 2 null value would be there to delete perticular row
spark_data.na.drop(how='any').show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
+----+-----+-----+

In [28]:
spark_data.show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
|syam|    2| null|
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
| pam| null|  545|
|null|    6| null|
|null|    7|    4|
+----+-----+-----+

In [36]:
##filling tyhe missing values
spark_data.na.fill('missing val','money').show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
|syam|    2| null|
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
| pam| null|  545|
|null|    6| null|
|null|    7|    4|
+----+-----+-----+

In [37]:
spark_data.columns

['Name', 'class', 'money']

In [39]:
spark_data.show()

+----+-----+-----+
|Name|class|money|
+----+-----+-----+
|syam|    2| null|
| ram|    3|   45|
| dam|    1|   34|
| ham|    5|   66|
| pam| null|  545|
|null|    6| null|
|null|    7|    4|
+----+-----+-----+

In [40]:
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['class','money'],outputCols=['{}_trreated'.format(c) for c in ['class','money']]).setStrategy('mean')

In [41]:
#treating to df
imputer.fit(spark_data).transform(spark_data).show()

+----+-----+-----+--------------+--------------+
|Name|class|money|class_trreated|money_trreated|
+----+-----+-----+--------------+--------------+
|syam|    2| null|             2|           138|
| ram|    3|   45|             3|            45|
| dam|    1|   34|             1|            34|
| ham|    5|   66|             5|            66|
| pam| null|  545|             4|           545|
|null|    6| null|             6|           138|
|null|    7|    4|             7|             4|
+----+-----+-----+--------------+--------------+